.title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: -0.06em;
    text-transform: capitalize;
    white-space: nowrap;
    color: #ffffff;
}
