.converter {
    padding: 40px 0px;
    background-color: #17171a;
}
.converter__title span::before {
    content: "💎";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    column-gap: 30px;
}
.converter__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    column-gap: 64px;
}
.converter__body::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    background: url("../../assets/Button/equal.svg") center no-repeat;
}
.converter__body > .converter__button {
    display: none;
}
.converter .button {
    position: relative;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
    width: 128px;
}
.converter .button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    animation: loadTimer 20s infinite linear;
    background-color: rgba(217, 217, 217, 0.2);
}
.converter__button span::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 4px;
    background: url("../../assets/Button/refresh.svg") right center no-repeat;
}
.converter__button span {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 24px;
    text-align: center;
}
.converter__button_updating {
    background-color: #333842;
    pointer-events: none;
}
.converter__button_rotating span::before {
    animation: rotateRefresh 1.6s ease-out;
}
.converter__button_updated {
    background-color: rgba(68, 176, 123, 0.28);
}

@keyframes loadTimer {
    0% {
        transform: translateX(-1%);
    }
    10%,
    13% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes rotateRefresh {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .converter__title span::before {
        left: -35px;
    }
    .converter__body {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .converter__header {
        justify-content: center;
    }
    .converter__header > .converter__button {
        display: none;
    }
    .converter__body > .converter__button {
        display: inline-flex;
    }
    .converter__body::before {
        display: none;
    }
}

@media (max-width: 480px) {
    .converter__item {
        flex-direction: column-reverse;
        flex-basis: auto;
    }
}
